In [1]:
import numpy as np
import os
import pandas as pd
import cv2

In [2]:
folder = input()
filename = input()
 


folder_path = os.path.join(os.getcwd(), folder)
file_path = os.path.join(os.getcwd(), filename)

cat
data_labels.csv

In [3]:
df = pd.read_csv(filename)

In [4]:
df

           name  label  width  height  xmin  ymin  xmax  ymax
0  cats_000.jpg    cat    474     632   103    72   436   603
1  cats_007.jpg  cat-1    474     266   301    37   460   265
2  cats_050.jpg    cat    474     237   157    40   314   205
3  cats_072.jpg  cat-2    474     266   187     1   474   266
4  cats_076.jpg    cat    474     474    12     6   244   462
5  cats_079.jpg    cat    474     266    78     1   474   266
6  cats_088.jpg  cat-3    474     266   129     1   385   266
7  cats_091.jpg    cat    474     316   156    13   328   316
8  cats_099.jpg  cat-4    474     237   226     1   395   237
9  cats_100.jpg    cat    474     266    40     1   420   266

In [6]:
df['name'].dtype

dtype('O')

In [7]:

dir = 'output2'
if not (os.path.isdir(dir)):
    os.mkdir(dir)


for index, row in df.iterrows():
    #if counter == 0:
    #    continue
    image_name = str(row['name'])
    image_name = folder_path + "\\" + image_name
    image_name = cv2.imread(image_name)
    pt1 = (row['xmin'], row['ymin'])
    pt2 = (row['xmax'], row['ymax'])
    color = (0,255,0)
    thickness = 3
    output_img = cv2.rectangle(image_name, pt1, pt2, color, thickness)
    output_img = cv2.putText(output_img, row['label'], (row['xmin'], row['ymin']-10), cv2.FONT_HERSHEY_SIMPLEX, 1,(0,0,0), 2)
    name = "final" + row['name']
    #counter = counter + 1
    if output_img is not None:
        cv2.imwrite(os.path.join(dir,name), output_img)
    else:
        continue